:host {
	display: block;
}

.perspective-container {
	perspective: 1000px;
}

.card-3d {
	transform-style: preserve-3d;
	/* 確保在行動裝置上有硬體加速 */
	will-change: transform;
}

.backface-hidden {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden; /* Safari 支援 */
}

.rotate-y-180 {
	transform: rotateY(180deg);
}
